.pz-variant {
  $variant: &;

  &__selected {
    @apply flex justify-start text-xs mb-2;

    .value:not(:empty) {
      @apply font-normal text-3/4xs text-primary-500 ml-2;
    }
  }

  &__options {
    @apply flex flex-wrap justify-start -mb-3;
  }

  &__option {
    @apply relative border border-gray-100 overflow-hidden flex items-center justify-center w-max mx-1.5 mb-3 text-xs;

    a {
      @apply block w-full h-full;
    }

    &:not(.-disabled) {
      &:hover,
      &.-selected {
        &::before {
          @apply translate-y-0;
        }
      }
    }

    &.-selectable {
      @apply bg-gray-100;
    }

    &.-selected {
      @apply bg-primary text-primary-foreground border border-primary;
    }

    &.-disabled {
      @apply border border-gray text-gray-600 bg-white;

      &.-selected {
        @apply border-primary border-dashed;
      }
    }

    &::before {
      @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full transition-transform w-0 h-0 border-primary content-empty;

      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      border-width: 0.7rem;
    }
  }

  &__required-error {
    @apply text-center text-error text-sm mt-2 hidden;
  }

  &.-type-size {
    #{$variant}__option {
      &.-disabled {
        &::after {
          @apply h-full bg-gray-100 absolute top-0 left-1/2 -translate-x-1/2 scale-y-150 transform -rotate-45 content-empty w-px;
        }
      }
    }
  }

  &.-type-color {
    #{$variant}__option {
      @apply w-12 ml-0;

      img {
        @apply w-full h-full object-cover;
      }

      &.-disabled {
        @apply opacity-40 pointer-events-none;
      }

      &.color-options {
        @apply w-auto border-0 bg-transparent pb-1;

        &.pz-variant__option {
          &::before {
            @apply hidden;
          }
        }

        &.-selected,
        &:hover {
          @apply border-b border-primary-500;
        }
      }

      .color-variants {
        @apply w-auto;

        &-item {
          @apply w-6 h-4 flex items-center;
        }

        &-hex-code {
          @apply w-full h-full;
        }
      }
    }

    .pz-variant__selected {
      span {
        @apply ml-0;
      }
    }
  }

  &:not(.-type-color) {
    a {
      @apply px-4 py-3;
    }
  }
}
